a {
    color: #000;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
  
  .navbar-logo img {
    width: 60px;
    height: auto;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .navbar-login {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar-login:hover {
    background-color: darkred;
  }
  